# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
*.rproj
*.Rproj.user/
*.rproj.user
*.Rproj.user
*.rprofile

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# DS_Store
**/.DS_Store
data/.DS_Store

.renviron
.Rproj.user
